@media only screen and (min-width: 325px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    #HicksLaw{
        grid-column: span 1;
    }

    #FittsLaw {
        grid-column: span 1;
    }

    #RuleOfThirds {
        grid-column: span 2;
    }
}