@media (min-width: 500px) {
	/* 
	||======================================================================||
	|| Basic Page Formats                                                   ||
	||======================================================================||
	*/
		header {
		font-size: 1rem;
	}
	
	nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: flex-start;
        margin-left: 2vw;
        border-left: 2px solid rgba(255, 255, 255, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 2px solid rgba(255, 255, 255, 0.3);
    }


	/* 
	||======================================================================||
	|| Class Formats                                                        ||
	||======================================================================||
	*/
	.main_container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content max-content max-content max-content max-content;
		gap: 5px 5px;
		grid-template-areas:
		  "hero hero"
		  "news news"
		  "spotlights spotlights"
		  "join join"
	 	  "event weather";
		/* border: 1px solid #050505; */
		margin-bottom: 10px;
	}

	.event {
		grid-area: event;
		border: 1px solid #555;
	}

	.weather {
		grid-area: weather;
		border: 1px solid #555;
	}

	.join {
		grid-area: join;
		border: 1px solid #555;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 50px 1fr 50px;
		grid-template-areas:    
        ". join_us ."
        "join_h2 join_h2 join_h2"
        "join_h2 join_h2 join_h2";
		align-items: center;
		align-content: center;
	}

	.join>h2 {
		grid-area: join_h2;

	}

	.join_us {
		background-color: darkgreen;
		font-family: var(--heading-font);
		color: yellow;
		justify-self: center;
		border-radius: 10px;
		grid-area: join_us;
	}

	.join>h2 {
		font-weight: bolder;
		font-family: var(--paragraph-font);
		font-size: .8rem;
		text-align: center;
	}

	.hero {
		grid-area: hero;
		border: 1px solid #555;
	}

	.news {
		grid-area: news;
		border: 1px solid #555;
	}

	.spotlights {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content;
		gap: 5px;
		grid-template-areas: 
    		"spotlight1 spotlight2";
		grid-area: spotlights;
		/* border: 1px solid #555; */
	}

	.subtitle {
		font-size: 1rem;
	}

	.container {
		display: grid;
		grid-template-columns: .5fr 1fr .75fr;
		grid-template-rows: 1fr .75fr .25fr;
		gap: 2px 2px;
		padding: 10px;
		grid-template-areas: 
			"foot_logo name_address location_info"
			"author_info author_info author_info"
			"days_since days_since days_since";
		align-items: center;
		justify-content: space-evenly;
	}

	.name_address { 
		grid-area: name_address; 
	}

	.author_info { 
		grid-area: author_info; 
	}

	.foot_logo { 
		grid-area: foot_logo; 
	}

	.location_info { 
		grid-area: location_info; 
	}
	
	.days_since {
		margin: 10px;
		grid-area: days_since;
	}

	/* 
	||======================================================================||
	|| ID Formats                                                           ||
	||======================================================================||
	*/
	#head_logo {
		width: 75px;
		height: auto;
	}

	#ft_logo {
		width: 75px;
		height: auto;
	}

	#foot_paragraph {
		font-size: 1.2rem;
	}

	#spotlight1 {
		grid-area: spotlight1;
		border: 1px solid #555;
	}

	#spotlight2 {
		grid-area: spotlight2;
		border: 1px solid #555;
	}
	#spotlight3 {
		display: none;
	}
}

