@media (min-width: 48em) {
	/* 
	||======================================================================||
	|| Basic Page Formats                                                   ||
	||======================================================================||
	*/
	nav ul li a {
        padding: .5rem 1rem;
    }

	header {
		font-size: 1.25rem;
		text-align: center;
	}

	/* 
	||======================================================================||
	|| Class Formats                                                        ||
	||======================================================================||
	*/
	.subtitle {
		font-size: 1.25rem;
	}

	.name_address {
		line-height: 3rem;
	}

	.location_info {
		line-height: 2rem;
	}

	/* 
	||======================================================================||
	|| ID Formats                                                           ||
	||======================================================================||
	*/
	#head_logo {
		width: 100px;
		height: auto;
	}

	#ft_logo {
		width: 100px;
	}

	#foot_paragraph {
		font-size: 2.5em;
	}

	#address {
		font-size: 1.5em;
		line-height: 1.5rem;
	}

}