@media (min-width: 37.5em) {
	header {
		font-size: 1rem;
	}
	
	nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: flex-start;
        margin-left: 2vw;
        border-left: 2px solid rgba(255, 255, 255, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 2px solid rgba(255, 255, 255, 0.3);
    }

	.subtitle {
		font-size: 1rem;
	}

	#head_logo {
		width: 75px;
		height: auto;
	}

	#foot_logo {
		width: 37px;
		height: auto;
	}
}