/* 
||======================================================================||
|| Site Plan Variables                                                  ||
||======================================================================||
*/
:root {
    /* 
    || Site Color Palate
    */
    --primary-color: #7a5c58;
    --secondary-color: #8d80ad;
    --accent1-color: #99b2dd;
    --accent2-color: #9dfff9;
    --accent3-color: #64f58d;
  
    /* 
    || Site Fonts
    */
    --heading-font: "Secular One", serif;
    --paragraph-font: "Open Sans", sans-serif;
  
    /* 
    || Basic Color Combos
    */
    --headline-color-on-white: #7a5c58;  /* headlines on a white background */ 
    --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #050505; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
    --text-background-color: #7a5c58;
    --nav-link-color: #99b2dd;
    --nav-background-color: #050505;
    --nav-hover-link-color: #050505;
    --nav-hover-background-color: #99b2dd;
  }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 
||======================================================================||
|| Basic Page Formats                                                   ||
||======================================================================||
*/
html {
    background-color: var(--primary-color);
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

h1, p {
    margin: 0 2vw;
}

header {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: xx-small;
    padding: 10px;
    border-radius: 10px;
}

header img {
    width: 48px;
    height: auto;
}

nav button {
    margin: .2rem .2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--nav-link-color);
}

nav {
    background-color: var(--nav-background-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--nav-link-color);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul li.active a {
    background-color: rgba(122, 122, 122, 0.5);
    color: var(--accent3-color);
}

nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

a {
    text-decoration: none;
    color: var(--nav-link-color);
}

footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    font-size: .8rem;
    border-radius: 10px;
    text-align: center;
}

/* 
||======================================================================||
|| Class Formats                                                        ||
||======================================================================||
*/
.headings {
    margin: auto;
    text-align: center;
}

.subtitle {
    font-style: italic;
    font-size: smaller;
    letter-spacing: 1pt;
    color: var(--accent2-color);
    margin: auto;
}

.first_line_head {
    display: flex;
}

.logo_name {
    display: flex;
}

.social {
    margin-top: auto;
    margin-left: auto;
}

.social img{
    width: 25px;
    height: auto;
}

.datetracker {
    background-color: var(--accent1-color);
    margin: 5px 0 5px 0;
    display: block;
    text-align: center;
}

.first_line_foot {
    padding-top: 10px;
    display: block;
}

.author_info {
    border-top: 1.5px solid var(--accent1-color);
    margin-top: 5px;
    padding: 5px;
    font-family: var(--paragraph-font);
    line-height: 1.25rem;
}

.contact_info {
    padding: 5px;
    line-height: 1.75rem;
}

/* 
||======================================================================||
|| ID Formats                                                           ||
||======================================================================||
*/
#head_logo {
    width: 100%;
    height: auto;
}

#ft_logo {
    width: 50px;
    height: auto;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
    color: red;
}

#address {
    line-height: 1rem;
}

#author {
    font-weight: bold;
}

#foot_paragraph {
    font-size: medium;
}

#location_map {
    color: white;
}
