/* 
||======================================================================||
|| Site Plan Variables                                                  ||
||======================================================================||
*/
:root {
    /* 
    || Site Color Palate
    */
    --primary-color: #7a5c58;
    --secondary-color: #8d80ad;
    --accent1-color: #99b2dd;
    --accent2-color: #9dfff9;
    --accent3-color: #64f58d;
  
    /* 
    || Site Fonts
    */
    --heading-font: "Secular One", serif;
    --paragraph-font: "Open Sans", sans-serif;
  
    /* 
    || Basic Color Combos
    */
    --headline-color-on-white: #7a5c58;  /* headlines on a white background */ 
    --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #050505; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
    --text-background-color: #7a5c58;
    --nav-link-color: #99b2dd;
    --nav-background-color: #050505;
    --nav-hover-link-color: #050505;
    --nav-hover-background-color: #99b2dd;
  }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 
||======================================================================||
|| Basic Page Formats                                                   ||
||======================================================================||
*/
html {
    background-color: var(--primary-color);
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

h1, p {
    margin: 0 2vw;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

header {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: xx-small;
    padding: 10px;
    border-radius: 10px;
    /* background-image: url("../images/GreenValleyNorthBanner.jpg"); */
}

header img {
    width: 48px;
    height: auto;
}

nav button {
    margin: .2rem .2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--nav-link-color);
}

nav {
    background-color: var(--nav-background-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--nav-link-color);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul li.active a {
    background-color: rgba(122, 122, 122, 0.5);
    color: var(--accent3-color);
}

nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

a {
    text-decoration: none;
    color: var(--nav-link-color);
}

footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    font-size: .8rem;
    border-radius: 10px;
    text-align: center;
}

/* 
||======================================================================||
|| Class Formats                                                        ||
||======================================================================||
*/
.main_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content max-content;
    gap: 5px 5px;
    grid-template-areas:
		  "hero"
          "event"
          "weather"
          "news"
		  "spotlights";
    /* border: 1px solid #050505; */
    margin: 10px 0 10px 0;
}

.event {
    grid-area: event;
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid #555;
    padding: 5px;
}

.event h2 {
    font-size: 1rem;
}

.event h3 {
    font-size: small;
}

.event p {
    font-family: var(--paragraph-font);
    font-size: smaller;
    margin-bottom: 5px;
}

.event a {
    color: #3f48cc;
    font-size: smaller;
}

.weather {
    grid-area: weather;
    border: 1px solid #555;
}

.join {
    display: none;
    grid-area: join;
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid #555;
    padding: 5px;
}

.join_button {
    background-color: darkgreen;
}

.hero {
    grid-area: hero;
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid #555;
    padding: 5px;
}

.news {
    grid-area: news;
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid #555;
    padding: 5px;
}

.news>article {
    font-family: var(--paragraph-font);
    font-size: .8rem;
    padding-left: 10px;
}

.news>article>h2 {
    font-family: var(--heading-font);
}

.spotlights {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    gap: 5px;
    grid-template-areas: 
    	"spotlight1"
        "spotlight2";
    grid-area: spotlights;
    font-family: var(--paragraph-font);
}

.headings {
    margin: auto;
    text-align: center;
}

.subtitle {
    font-style: italic;
    font-size: smaller;
    letter-spacing: 1pt;
    color: blue;
    margin: auto;
}

.first_line_head {
    display: flex;
}

.logo_name {
    display: flex;
}

.social {
    margin-top: auto;
    margin-left: auto;
}

.social img{
    width: 25px;
    height: auto;
}

.datetracker {
    background-color: var(--accent1-color);
    margin: 5px 0 5px 0;
    display: block;
    text-align: center;
}

.first_line_foot {
    padding-top: 10px;
    display: block;
}

.author_info {
    border-top: 1.5px solid var(--accent1-color);
    margin-top: 5px;
    padding: 5px;
    font-family: var(--paragraph-font);
    line-height: 1.25rem;
}

.contact_info {
    padding: 5px;
    line-height: 1.75rem;
}

.weather {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    /* min-height: 100vh; */
    background-image: url('../images/sunny_day_small.jpg');
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); */
    padding-bottom: 10px;
}

.weather>h2 {
    font-size: 1.5rem;
}

.location .city {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .coords {
    font-size: .75rem;
    font-style: italic;
    margin-bottom: 5px;
}

.location .date {
    font-size: 1rem;
}

.current .temp {
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 0;
}

.current .temp span {
    font-weight: 500;
}

.current .conditions {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}

.current .hi-low {
    font-size: 24px;
    font-weight: 500;
}

figure.hero {
    /* background-image: url("../images/wdd230-org.jpg"); */
    width: 100%;
}

.sl_heading {
    font-family: var(--heading-font);
    font-weight: 900;
}

.sl_pic {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
}

.sl_quote {
    font-size: .8rem;
}

.sl_contact {
    font-size: .6rem;
}

/* 
||======================================================================||
|| ID Formats                                                           ||
||======================================================================||
*/
#head_logo {
    width: 100%;
    height: auto;
}

#ft_logo {
    width: 50px;
    height: auto;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
    color: red;
}

#address {
    font-size: .7rem;
    line-height: 1rem;
    margin-bottom: 5px;
}

#author {
    font-weight: bold;
}

#foot_paragraph {
    font-size: 1rem;
    margin: 5px;
}

#location_map {
    background-color: #050505;
    color: white;
}

#spotlight1 {
    grid-area: spotlight1;
    background-color: var(--accent1-color);
    color: saddlebrown;
    border: 1px solid #555;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    justify-items: center;
}

#spotlight2 {
    grid-area: spotlight2;
    background-color: var(--accent1-color);
    color: saddlebrown;
    border: 1px solid #555;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    justify-items: center;}

#spotlight3 {
    display: none;
    
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}