@media (min-width: 750px) {
    body {

    }

    header {
        font-size: 1.25rem;
        text-align: center;
        display: grid;
        grid-template-columns: 10% 10% 10% 1fr 1fr 1fr 1fr 10%;
        grid-template-rows: repeat(3, 4em) 1fr;
        gap: 0 0;
        grid-template-areas: 
            "logo logo logo banner banner banner banner social"
            "logo logo logo phone phone phone phone social"
            "logo logo logo email email email email social"
            "logo logo logo nav nav nav nav nav";
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    .main-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, auto);
        gap: 5px 5px;
        grid-template-areas: 
            "welcome welcome"
            "templeCard templeCard"
            "homePic weather";
    }
    
    .welcome {
        display: inline;
    }
    
   .resBtn {
        position: fixed;
        top: 40%;
        right: 17%;
   }
    
    .welcome img {
        width: fit-content;
        height: fit-content;
        float: right;
    }
    
    .ft_container {
        font-size: 1rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 100px;
        gap: 10px 10px;
        grid-template-areas: 
            "ftlogo ftaddress map"
            "location author map";
        margin: auto;
        align-items: center;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

}