@media (min-width: 750px) {
    body {

    }

    header {
        font-size: 1.25rem;
        text-align: center;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    main {

    }

    footer {

    }

    nav ul li a {
        padding: .5rem 1rem;
    }

}