@media (min-width: 430px) {
    body {

    }
    
    header {
        font-size: 1rem;
    }

    header img {
        max-width: 200px;
        height: auto;
    }

    main {

    }

    footer {

    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: flex-start;
        margin-left: 2vw;
        border-left: 2px solid rgba(255, 255, 255, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 2px solid rgba(255, 255, 255, 0.3);
    }
}