.temple-card {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 203px 202px 1fr 1fr;
    grid-template-rows: 5rem 11rem 0.5fr 0.5fr 0.5fr;
    gap: 0 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "templePic templePic name name"
    "templePic templePic address address"
    "schedules schedules contact contact"
    "schedules schedules services services"
    "schedules schedules history history";
    border: 1px solid #000;
}

.templePic {
    grid-area: templePic;
}

.templePic img {
    max-width: 400px;
}

.name {
    grid-area: name;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.templeH2 {
    font-family: var(--heading-font);
    font-weight: bolder;
    font-size: 2.5rem;
}

.address {
    grid-area: address;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.address p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.contact {
    grid-area: contact;
}

.services {
    grid-area: services;
}

.schedules {
    grid-area: schedules;
}

.history {
    grid-area: history;
}

/* html,
body, */
.temple-card {
    height: 100%;
    margin: 0;
}

legend {
    font-family: sans-serif;
    font-weight: bold;
}

.templePara,
.templeLi {
    font-family: var(--paragraph-font);
    /*font-size: 1rem;*/
    font-style: italic;
}

fieldset {
    border: none;
}

fieldset :nth-child(0) {
    padding: 10px;
}

fieldset p {
    padding: 10px;
}
