/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


h1, p {
    margin: 0 2vw;
}

nav button {
    margin: .2rem .2vw;
    background: none;
    border: none;
    font-size: 2rem;
}

nav {
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}














